" Write ' %ode to reer
e '
tring

In [ ]:
x="sinchana"
x[::-1]

'anahcnis'


 Write ' %ode to %ount the nu
ber of owel
 in '
tring

In [ ]:
input_string = "Hello World"
vowels = 'aeiouAEIOU'


count = 0

# Iterate through each character in the string
for char in input_string:
    if char in vowels:
        count += 1

# Printing the result
print(f"The number of vowels in the string is: {count}")

The number of vowels in the string is: 3


 Write ' %ode to %he%k if ' gien
tring i
 ' p'lindro
e or not

In [ ]:
input_string = "madam"

# Removing spaces and converting to lowercase for uniformity
processed_string = input_string.replace(" ", "").lower()

# Checking if the string is equal to its reverse
is_palindrome = processed_string == processed_string[::-1]

# Printing the result
if is_palindrome:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

 Write ' %ode to %he%k if two gien
tring
 're 'n'gr'

 of e'%h other

In [ ]:
str1 = "listen"
str2 = "silent"

# Converting both strings to lowercase for uniformity
str1 = str1.lower()
str2 = str2.lower()

# Checking if sorted characters of both strings are equal
are_anagrams = sorted(str1) == sorted(str2)

# Printing the result
if are_anagrams:
    print("The two strings are anagrams of each other.")
else:
    print("The two strings are not anagrams of each other.")

The two strings are anagrams of each other.

	 Write ' %ode to find 'll o%%urren%e
 of ' gien
ub
tring within 'nother
tring

In [ ]:
main_string = "This is a test string. This test is for finding test occurrences."
substring = "test"

# List to store the starting indices of the occurrences
indices = []

# Length of the substring
sub_len = len(substring)

# Iterate through the main string
for i in range(len(main_string) - sub_len + 1):
    # Check if the substring matches the current slice of the main string
    if main_string[i:i + sub_len] == substring:
        indices.append(i)

# Printing the result
print(f"The substring '{substring}' is found at indices: {indices}")

The substring 'test' is found at indices: [10, 28, 48]

$ Write ' %ode to perfor
 b'
i%
tring %o
pre

ion u
ing the %ount
 of repe'ted %h'r'%ter


In [ ]:
# Given string
input_string = "aabcccccaaa"

# Initialize variables
compressed_string = ""
count = 1

# Iterate through the string
for i in range(1, len(input_string)):
    if input_string[i] == input_string[i - 1]:
        count += 1
    else:
        compressed_string += input_string[i - 1] + str(count)
        count = 1

# Add the last set of characters
compressed_string += input_string[-1] + str(count)

# Printing the result
print(f"Compressed string: {compressed_string}")

Compressed string: a2b1c5a3

& Write ' %ode to deter
ine if '
tring h'
 'll unique %h'r'%ter


In [ ]:
s = "abcdefg"

# Using a set to track characters we've seen
seen = set()
unique = True

for char in s:
    if char in seen:
        unique = False
        break
    seen.add(char)

if unique:
    print("All characters are unique.")
else:
    print("There are duplicate characters.")

All characters are unique.

 Write ' %ode to %onert ' gien
tring to upper%'
e or lower%'
e

In [ ]:
s = "Hello World"

# Convert to uppercase
uppercase_s = ""
for char in s:
    if 'a' <= char <= 'z':
        uppercase_s += chr(ord(char) - 32)
    else:
        uppercase_s += char

print("Uppercase:", uppercase_s)

# Convert to lowercase
lowercase_s = ""
for char in s:
    if 'A' <= char <= 'Z':
        lowercase_s += chr(ord(char) + 32)
    else:
        lowercase_s += char

print("Lowercase:", lowercase_s)

Uppercase: HELLO WORLD
Lowercase: hello world

 Write ' %ode to %ount the nu
ber of word
 in '
tring

In [1]:
def count_words(string):
    count = 0
    in_word = False

    for char in string:
        if char == ' ':
            in_word = False
        elif not in_word:
            count += 1
            in_word = True

    return count



" Write ' %ode to %on%'ten'te two tring without uing the + oper'tor

In [2]:
str1 = "Hello"
str2 = "World"

# Create an empty string to store the result
result = ""

# Append characters from the first string
for char in str1:
    result += char

# Append characters from the second string
for char in str2:
    result += char
print(result)

HelloWorld

"" Write ' %ode to reoe 'll o%%urren%e of ' pe%ifi% eleent fro ' lit

In [3]:
# Define the list and the element to be removed
my_list = [21, 5, 8, 52, 21, 87]
element_to_remove = 21

# Create a new list excluding the element to be removed
result = [item for item in my_list if item != element_to_remove]

print(result)

[5, 8, 52, 87]

" Ipleent ' %ode to find the e%ond l'rget nuber in ' gien lit of integer

In [4]:
numbers = [21, 5, 8, 52, 21, 87]

# Initialize the first and second largest to negative infinity
first_largest = float('-inf')
second_largest = float('-inf')

# Iterate through the list to find the largest and second largest numbers
for number in numbers:
    if number > first_largest:
        second_largest = first_largest
        first_largest = number
    elif number > second_largest and number != first_largest:
        second_largest = number

print("The second largest number is:", second_largest)

The second largest number is: 52

" Cre'te ' %ode to %ount the o%%urren%e of e'%h eleent in ' lit 'nd return ' di%tion'r
 with eleent '
ke
 'nd their %ount ' 'lue

In [5]:
my_list = [21, 5, 8, 52, 21, 87, 5, 21]

# Initialize an empty dictionary to store the counts
count_dict = {}

# Iterate through the list
for element in my_list:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1

print(count_dict)

{21: 3, 5: 2, 8: 1, 52: 1, 87: 1}

" Write ' %ode to reere ' lit in-pl'%e without uing 'n
 built-in reere fun%tion

In [6]:
my_list = [21, 5, 8, 52, 21, 87]

# Get the length of the list
n = len(my_list)

# Use a loop to swap elements
for i in range(n // 2):
    # Swap the elements
    my_list[i], my_list[n - i - 1] = my_list[n - i - 1], my_list[i]

print(my_list)

[87, 21, 52, 8, 5, 21]

In [ ]:
"	 Ipleent ' %ode to find 'nd reoe dupli%'te fro ' lit while preering the origin'l order of
eleent

In [8]:
my_list = [1, 2, 2, 3, 4, 3, 5]
new_list = []
for item in my_list:
    if item not in new_list:
        new_list.append(item)

print(new_list)

[1, 2, 3, 4, 5]

"$ Cre'te ' %ode to %he%k if ' gien lit i orted (either in '%ending or de%ending order) or not

In [9]:
my_list = [1, 2, 3, 4, 5]  # Example list
ascending = True
descending = True

# Check for ascending order
for i in range(len(my_list) - 1):
    if my_list[i] > my_list[i + 1]:
        ascending = False
        break

# Check for descending order
for i in range(len(my_list) - 1):
    if my_list[i] < my_list[i + 1]:
        descending = False
        break

if ascending:
    print("The list is sorted in ascending order.")
elif descending:
    print("The list is sorted in descending order.")
else:
    print("The list is not sorted.")

The list is sorted in ascending order.

"& Write ' %ode to erge two orted lit into ' ingle orted lit

In [10]:
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

merged_list = []
i = 0  # Pointer for list1
j = 0  # Pointer for list2

# Merge the two lists by comparing elements
while i < len(list1) and j < len(list2):
    if list1[i] < list2[j]:
        merged_list.append(list1[i])
        i += 1
    else:
        merged_list.append(list2[j])
        j += 1

# If there are remaining elements in list1, append them
while i < len(list1):
    merged_list.append(list1[i])
    i += 1

# If there are remaining elements in list2, append them
while j < len(list2):
    merged_list.append(list2[j])
    j += 1

print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

" Ipleent ' %ode to find the intere%tion of two gien lit

In [11]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

intersection = []

# Loop through each element of the first list
for item in list1:
    # Check if the item is present in the second list
    if item in list2 and item not in intersection:
        intersection.append(item)

print(intersection)

[3, 4, 5]

" Cre'te ' %ode to find the union of two lit without dupli%'te

In [12]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

union_list = []

# Add all elements of the first list to the union_list
for item in list1:
    if item not in union_list:
        union_list.append(item)

# Add elements of the second list, checking for duplicates
for item in list2:
    if item not in union_list:
        union_list.append(item)

print(union_list)

[1, 2, 3, 4, 5, 6, 7, 8]

 Write ' %ode to huffle ' gien lit r'ndol
 without uing 'n
 built-in huffle fun%tion

In [13]:
import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8]
shuffled_list = []
used_indices = set()  # Set to track used indices

# Continue until all elements are added to shuffled_list
while len(shuffled_list) < len(my_list):
    random_index = random.randint(0, len(my_list) - 1)  # Pick a random index
    if random_index not in used_indices:  # Ensure the index hasn't been used
        shuffled_list.append(my_list[random_index])
        used_indices.add(random_index)  # Mark this index as used

print(shuffled_list)

[3, 6, 5, 8, 2, 1, 4, 7]

" Write ' %ode th't t'ke two tuple ' input 'nd return ' new tuple %ont'ining eleent th't 're
%oon to both input tuple

In [14]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

common_elements = []

# Loop through each element in tuple1
for item in tuple1:
    # Check if the element is present in tuple2
    if item in tuple2:
        common_elements.append(item)

# Convert the list of common elements back to a tuple
result_tuple = tuple(common_elements)

print(result_tuple)

(4, 5)

" Write ' %ode th't t'ke two tuple ' input 'nd return ' new tuple %ont'ining eleent th't 're
%oon to both input tuple

In [15]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)

common_elements = []

# Loop through each element in tuple1
for item in tuple1:
    # Check if the element is present in tuple2
    if item in tuple2 and item not in common_elements:  # Avoid duplicates
        common_elements.append(item)

# Convert the list of common elements back to a tuple
result_tuple = tuple(common_elements)

print(result_tuple)

(4, 5)

 Cre'te ' %ode th't propt the uer to enter two et of integer ep'r'ted b
 %o'. Then# print the
intere%tion of thee two et

 Write ' %ode to %on%'ten'te two tuple. The fun%tion hould t'ke two tuple ' input 'nd return ' new
tuple %ont'ining eleent fro both input tuple.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merging the tuples
merged_tuple = tuple1 + tuple2

# Output the new tuple
print(merged_tuple)

'%& D(v(lop + cod( th+t prompts th( us(r to input two s(ts of strings. Th(n print th( (l(m(nts th+t +r(
pr(s(nt in th( first s(t but not in th( s(cond s(t&

In [ ]:
set1_input = input("Enter the first set of strings (comma-separated): ")
set2_input = input("Enter the second set of strings (comma-separated): ")

# Convert the input strings into sets
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

# Find elements present in the first set but not in the second
result_set = set1 - set2

# Print the result
print("Elements in the first set but not in the second set:", result_set)

'& Cr(+t( + cod( th+t t+k(s + tupl( +nd two int(g(rs +s input. Th( function should r(turn + n(w tupl(
cont+ining (l(m(nts from th( origin+l tupl( within th( sp(cifi(d r+ng( of indic(s&

In [21]:
tuple_input = input("Enter a tuple of elements (comma-separated): ")
start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

# Convert the input string into a tuple
original_tuple = tuple(tuple_input.split(','))

# Create a new tuple containing elements within the specified range
new_tuple = original_tuple[start_index:end_index]

# Output the new tuple
print("New tuple with elements in the specified range:", new_tuple)

Enter a tuple of elements (comma-separated): 1,2,3,4
Enter the start index: 25
Enter the end index: 45
New tuple with elements in the specified range: ()

'& Writ( + cod( th+t prompts th( us(r to input two s(ts of ch+r+ct(rs. Th(n print th( union of th(s( two s(ts

In [22]:
set1_input = input("Enter the first set of characters (comma-separated): ")
set2_input = input("Enter the second set of characters (comma-separated): ")

# Convert the input strings into sets
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

# Calculate the union of the two sets
union_set = set1.union(set2)

# Print the result
print("Union of the two sets:", union_set)

Enter the first set of characters (comma-separated): 1,2,3,4
Enter the second set of characters (comma-separated): 3,4,5,6
Union of the two sets: {'1', '2', '6', '5', '4', '3'}

'*& D(v(lop + cod( th+t t+k(s + tupl( of int(g(rs +s input. Th( function should r(turn th( m+imum +nd
minimum v+lu(s from th( tupl( using tupl( unp+cking&

In [23]:
tuple_input = input("Enter a tuple of integers (comma-separated): ")

# Convert the input string into a tuple of integers
int_tuple = tuple(map(int, tuple_input.split(',')))

# Use tuple unpacking to find the minimum and maximum values
min_value, max_value = min(int_tuple), max(int_tuple)

# Create a new tuple containing the minimum and maximum values
result_tuple = (min_value, max_value)

# Output the result
print("Minimum and maximum values from the tuple:", result_tuple)

Enter a tuple of integers (comma-separated): 1,2,3,4
Minimum and maximum values from the tuple: (1, 4)

'& Cr(+t( + cod( th+t d(fin(s two s(ts of int(g(rs. Th(n print th( union int(rs(ction +nd diff(r(nc( of th(s(
two s(ts

In [24]:
set1_input = input("Enter the first set of integers (comma-separated): ")
set2_input = input("Enter the second set of integers (comma-separated): ")

# Convert the input strings into sets of integers
set1 = set(map(int, set1_input.split(',')))
set2 = set(map(int, set2_input.split(',')))

# Calculate union, intersection, and difference
union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

# Print the results
print("Union of the two sets:", union_set)

Enter the first set of integers (comma-separated): 1,2,3,4
Enter the second set of integers (comma-separated): 4,5,6,7
Union of the two sets: {1, 2, 3, 4, 5, 6, 7}

'& Writ( + cod( th+t t+k(s + tupl( +nd +n (l(m(nt +s input. Th( function should r(turn th( count of
occurr(nc(s of th( giv(n (l(m(nt in th( tupl(&

In [25]:
tuple_input = input("Enter a tuple of elements (comma-separated): ")
element_input = input("Enter the element to count: ")

# Convert the input string into a tuple
elements_tuple = tuple(tuple_input.split(','))

# Count occurrences of the given element in the tuple
count = elements_tuple.count(element_input)

# Output the count
print(f"The count of occurrences of '{element_input}' in the tuple is:", count)

Enter a tuple of elements (comma-separated): 1,2,3,4
Enter the element to count: 23
The count of occurrences of '23' in the tuple is: 0

In [27]:
#& D(v(lop + cod( th+t prompts th( us(r to input two s(ts of strings. Th(n print th( smm(tric diff(r(nc( of
#th(s( two s(ts&

In [28]:
set1_input = input("Enter the first set of strings (comma-separated): ")
set2_input = input("Enter the second set of strings (comma-separated): ")

# Convert the input strings into sets
set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

# Calculate the symmetric difference (elements in either set, but not both)
symmetric_difference_set = set1.symmetric_difference(set2)

# Print the result
print("Symmetric difference of the two sets:", symmetric_difference_set)

Enter the first set of strings (comma-separated): 1,2,3,4
Enter the second set of strings (comma-separated): 4,5,6,7
Symmetric difference of the two sets: {'7', '1', '2', '6', '5', '3'}

& Writ( + cod( th+t t+k(s + list of words +s input +nd r(turns + diction+r wh(r( th( k(s +r( uniu( words
+nd th( v+lu(s +r( th( fr(u(nci(s of thos( words in th( input list

In [29]:
words_input = input("Enter a list of words (space-separated): ")

# Convert the input string into a list of words
words_list = words_input.split()

# Create a dictionary to store word frequencies
word_count = {}

# Count the frequency of each word
for word in words_list:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

# Output the result
print("Word frequency dictionary:", word_count)

Enter a list of words (space-separated): 1,2,3,4
Word frequency dictionary: {'1,2,3,4': 1}

'& Writ( + cod( th+t t+k(s two diction+ri(s +s input +nd m(rg(s th(m into + singl( diction+r. If th(r( +r(
common k(s th( v+lu(s should b( +dd(d tog(th(r&

In [33]:
dict1_input = input("Enter the first dictionary (key:value pairs, comma-separated): ")
dict2_input = input("Enter the second dictionary (key:value pairs, comma-separated): ")

# Convert the input strings into dictionaries
dict1 = {k: int(v) for k, v in (item.split(':') for item in dict1_input.split(','))}
dict2 = {k: int(v) for k, v in (item.split(':') for item in dict2_input.split(','))}

# Merge the two dictionaries
merged_dict = dict1.copy()

for key, value in dict2.items():
    if key in merged_dict:
        merged_dict[key] += value  # Add values if key exists in both dictionaries
    else:
        merged_dict[key] = value   # Add key-value pair if it's not in dict1

# Output the result
print("Merged dictionary:", merged_dict)

Enter the first dictionary (key:value pairs, comma-separated): 1,2,3,4
Enter the second dictionary (key:value pairs, comma-separated): 5,6,7,8

ValueError: not enough values to unpack (expected 2, got 1)

& Writ( + cod( to +cc(ss + v+lu( in + n(st(d diction+r. Th( function should t+k( th( diction+r +nd + list of
k(s +s input +nd r(turn th( corr(sponding v+lu(. If +n of th( k(s do not (ist in th( diction+r th(
function should r(turn Non(&

In [34]:
nested_dict = {
    'a': {
        'b': {
            'c': 10
        },
        'd': 5
    }
}

# Prompt the user for a list of keys (space-separated)
keys_input = input("Enter the list of keys (space-separated): ")

# Convert the input into a list of keys
keys_list = keys_input.split()

# Start with the nested dictionary
current_dict = nested_dict
found_value = True

# Iterate through the keys to access the nested value
for key in keys_list:
    if key in current_dict:
        current_dict = current_dict[key]  # Move deeper into the dictionary
    else:
        found_value = False
        break

# Print the result
if found_value:
    print("The value corresponding to the keys:", current_dict)
else:
    print("None")

Enter the list of keys (space-separated): 1,2,3,4
None

%& Writ( + cod( th+t t+k(s + diction+r +s input +nd r(turns + sort(d v(rsion of it b+s(d on th( v+lu(s. You
c+n choos( wh(th(r to sort in +sc(nding or d(sc(nding ord(r

In [39]:
dict_input = input("Enter the dictionary (key:value pairs, comma-separated): ")

# Convert the input string into a dictionary
input_dict = {k: int(v) for k, v in (item.split(':') for item in dict_input.split(','))}

# Prompt the user to choose sorting order (ascending or descending)
order = input("Enter sorting order (asc for ascending, desc for descending): ")

# Sort the dictionary based on values
if order == "asc":
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1]))
else:
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=True))

# Output the sorted dictionary
print("Sorted dictionary:", sorted_dict)

Enter the dictionary (key:value pairs, comma-separated): a:1,b:2,c:3
Enter sorting order (asc for ascending, desc for descending): asc
Sorted dictionary: {'a': 1, 'b': 2, 'c': 3}

In [ ]:
#& Writ( + cod( th+t inv(rts + diction+r sw+pping k(s +nd v+lu(s. Ensur( th+t th( inv(rt(d diction+r
#corr(ctl h+ndl(s c+s(s wh(r( multipl( k(s h+v( th( s+m( v+lu( b storing th( k(s +s + list in th(
#inv(rt(d diction+r.

In [40]:
# Prompt the user to input a dictionary as comma-separated key:value pairs
dict_input = input("Enter the dictionary (key:value pairs, comma-separated): ")

# Convert the input string into a dictionary
input_dict = {k: int(v) for k, v in (item.split(':') for item in dict_input.split(','))}

# Create an empty dictionary to store the inverted result
inverted_dict = {}

# Invert the dictionary by swapping keys and values
for key, value in input_dict.items():
    if value in inverted_dict:
        inverted_dict[value].append(key)  # If value already exists, append the key to the list
    else:
        inverted_dict[value] = [key]  # Otherwise, create a new list with the key

# Output the inverted dictionary
print("Inverted dictionary:", inverted_dict)

Enter the dictionary (key:value pairs, comma-separated): a:1,b:2
Inverted dictionary: {1: ['a'], 2: ['b']}